@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

@layer base {
    * {
        font-family: "aktiv-grotesk", system-ui, sans-serif;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

select{
    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
}

select::-webkit-scrollbar { /*For WebKit Browsers*/
    width: 0;
}

.customHead {
    display:table;
    width:100%;
    table-layout:fixed;
}
.customBody {
    display:block;
    max-height:480px;
    overflow-y:scroll;
}
.customBody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

/* Full Calendar */

.fc-view-harness {
    @apply bg-white shadow-shadow-card no-scrollbar
}
.fc-multiMonthYear-view, .fc-scroller {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* .fc-scrollgrid-sync-table {
    @apply hidden
} */
.fc-multimonth-title {
    @apply uppercase text-color-808080 font-bold
}
.fc-toolbar-title {
    @apply uppercase text-color-808080 font-semibold !ml-24 !text-3xl 2xl:!text-4xl
}
.fc-col-header-cell-cushion {
    @apply uppercase text-color-808080 font-bold
}
.fc-daygrid-day-top a {
    @apply bg-[#E5EAEA] text-[#7E8D9B] font-semibold rounded-full w-7 h-7 mt-1 mr-1 flex justify-center items-center shadow-slate-500 shadow-sm
}
.fc-button-primary {
    @apply !bg-white disabled:!bg-color-dfdfdf !border-0 !font-medium tracking-wider !text-color-2c2c2c disabled:cursor-not-allowed !border-transparent focus:!border-transparent focus:!ring-0
}
.fc-icon {
    @apply text-color-2c2c2c
}
.fc-today-button {
    @apply !text-color-2c2c2c
}
.fc-timeGridDay-button, .fc-timeGridWeek-button, .fc-dayGridMonth-button {
    @apply !bg-color-dfdfdf
}
.fc-button-active {
    @apply !bg-color-01a53a/80 !text-white
}
.fc-button-group .fc-button-active {
    @apply brightness-110  hover:brightness-110
}
.fc-timegrid-slot {
    @apply !h-16
}
.fc-timegrid-slot-label-frame {
    @apply flex justify-center
}
.fc-timegrid-slot-label-cushion {
    @apply text-color-afafaf font-semibold text-xl
}
.fc-timegrid-event-harness {
    @apply max-w-[100%]
}
.fc-popover-body {
    @apply max-h-72 overflow-y-auto
}
#calendarLesson .fc-timegrid-event-harness {
    @apply max-w-[100%]
}


